build/
.directory
source/.directory
source/locale/ru/LC_MESSAGES/.directory
source/locale/ru/LC_MESSAGES/index.lokalize
source/locale/ru/LC_MESSAGES/lokalize-scripts/
source/locale/ru/LC_MESSAGES/main.lqa
